.loginContainer {
    text-align: center;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
}

.loginButton {
    width: 50%;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 2em !important;
}