.loginContainer {
    text-align: center;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2em;
}

.loginButton {
    width: 50%;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 2em !important;
}

@media screen and (max-width: 500px) { /* Mobile */
    .logo {
        width: 100%;
    }
}